
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Open+Sans');

/*
    font-family: 'Open Sans', sans-serif;
    font-family: 'Bowlby One SC', cursive;
*/

html *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1{
  font-family: 'Bowlby One SC', cursive;
  font-weight: normal;
  text-align: center;
  position: absolute;
  top: 45vh;
  width: 100%;
  margin: 0 auto;
  color: #F4C1A7;
  font-size: 5em;
  text-shadow:
    3px 3px #744134,
    -3px 3px #744134,
    3px -3px #744134,
    -3px -3px #744134;
}

body{
  background: #F4C1A7;
  color: #744134;
  font-family: 'Open Sans', sans-serif;
}

.topimage{
  background-image: url("../img/kaffe01.jpg");
  height: 100vh;
  background-size: cover;
}

.wrapper{
  max-width: 960px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  padding: 20px 66px;
}

.wrapper a{
  display: block;
  width: 3em;
  font-size: 3em;
  position: absolute;
  bottom: 0;
  left: 48%;
  color: #744134;
}


a[id]{
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  display:inline-block;
  float:left;
}

.wrapper a:hover{
  color: #946154;
  bottom: 5px;
}
p{
  font-size: 1.5em;

  margin: 0 auto;

}

.meny{
  background: #744134;
  color: #F4C1A7;
  font-size: 2em;
  position: fixed;
  height: 100%;
  top: 0;
  left: -200px;
  width: 200px;
  z-index: 99;
  padding: 0 20px 0 20px;

}

nav{

}

nav ol{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav a{
  text-decoration: none;
  color: #F4C1A7;
}

nav .closeButton{
     position: relative;
     left: 95%;

     color: #F4C1A7;
 }

.closeButton:hover, .menuButton:hover{
  cursor:pointer;
}
 .menuButton{
   font-size: 40px;
   position: fixed;
   top: 10px;
   left: 10px;
   background: #F4C1A7;
   padding: 5px;
   border: 3px solid;
 }

footer{
  font-size: 3em;
  border-top: 2px solid;
  text-align: center;
}

p img{
  width: 50%;
  float: right;
  max-width: 100%;
}



.wrapper .fas{

}


.parallax-window{
  min-height: 100vh;
  background: transparent;

}



/* https://www.smashingmagazine.com/2018/05/guide-css-layout/ */

.cakegallery{
  display: flex;
  flex: 1 1 200px; /* flex-grow, flex-shrink, flex-basis */
  justify-content:flex-start;
}

.cake{
  border: 3px solid rgb(77, 45, 26);
  padding: 10px;
  margin: 10px;
}

.cake img{
  max-width: 100%;
}
